---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Pill from "../../components/Pill.astro";

interface Props {
  entry: CollectionEntry<"works">;
}

export async function getStaticPaths() {
  const work = await getCollection("works");
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <main class="wrapper project-wrapper">    
    <h1 class="title">{entry.data.title}</h1>
    <p class="description">{entry.data.description}</p>
		<div class="tags">
      {entry.data.tags.map((t) => <Pill>{t}</Pill>)}
    </div>
    <div class="content">
      {
        entry.data.img && (
          <img src={entry.data.img} alt={entry.data.img_alt || ""} />
        )
      }
      <div class="content">
        <Content />
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .project-wrapper {
    max-width: 640px;
		gap: var(--sp-2);
		margin: var(--sp-5) ;
  }

	.title {
		line-height: 1.4;
	}

  .tags {
    display: flex;
    gap: 0.5rem;
  }

  .description {
    font-size: var(--text-lg);
  }

  .content {
    width: 100%;
  }
</style>
