---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Pill from "../../components/Pill.astro";

interface Props {
  entry: CollectionEntry<"works">;
}

export async function getStaticPaths() {
  const work = await getCollection("works");
  return work.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <main class="wrapper sub-wrapper"> 
    <h1 class="title">{entry.data.title}</h1>
    <p class="description">{entry.data.description}</p>
		<div class="tags">
      {entry.data.tags.map((t: unknown) => {
        if (typeof t === 'string') {
          return <Pill>{t}</Pill>;
        }
        return null;
      })}
    </div>
    <div class="content">
      {
        entry.data.img && (
          <img src={entry.data.img} alt={entry.data.img_alt || ""} />
        )
      }
      <div class="content">
        <Content />
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .sub-wrapper {
    max-width: 720px;
		gap: var(--sp-1);
		margin: auto;
  }

	.title {
		line-height: 1.4;
    font-weight: 700;
	}

  .tags {
    display: flex;
    gap: var(--sp-1);
  }

  .description {
    font-size: var(--fs-base);
  }
</style>
