---
import MainHead from "../components/MainHead.astro";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/500.css";
import "@fontsource/noto-sans-jp/600.css";
import "@fontsource/noto-sans-jp/700.css";
import "@fontsource/afacad/400.css";
import "@fontsource/afacad/500.css";
import "@fontsource/afacad/600.css";
import "@fontsource/afacad/700.css";
import "@fontsource/sedan";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WorksLink from "../components/WorksLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const GTM_ID = "GTM-5R2VWTZ8";
const { title, description } = Astro.props;
const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
const pageDescription = description || SITE_DESCRIPTION;
---

<html lang="ja">
  <head>
    <!-- Google Tag Manager -->
    <script is:inline type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", GTM_ID);
    </script>
    <!-- End Google Tag Manager -->
    <MainHead title={pageTitle} description={pageDescription} />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src={`https://www.googletagmanager.com/ns.html?id=${GTM_ID}`}
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <slot />
    <WorksLink />
    <Footer />
  </body>
</html>
